* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

*:focus {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
}

a {
  color: #cb7152;
}

a:hover {
  color: #b7522f;
}

.menu-selected {
  color: #cb7152;
  border-bottom: 2px solid #cb7152;
}

.text-bold {
  font-weight: 600;
}

.text-thin {
  font-weight: 300;
}

.text-small {
  font-size: 10px;
}

.text-italic {
  font-style: italic;
}

.container-small {
  width: 1000px;
}

.text-center {
  text-align: center;
  display: block;
}

.form-control {
  border-radius: 0px;
  border: 1px solid #cb7152;
}

.form-control:focus {
  border: 1px solid #cb7152;
  box-shadow: inherit;
}

.btn {
  border-radius: 0px;
}

.btn-outline-primary {
  color: #cb7152;
  border-color: #cb7152;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:hover {
  background-color: #cb7152;
  border-color: #cb7152;
}

.btn-outline-primary:focus {
  box-shadow: none;
}

.border-orange {
  border-bottom: solid 3px #cb7152;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-brand:hover {
  color: #fff;
}

/** header **/
.navbar {
  background: rgb(1 1 1 / 48%);
}

.header-black-bg {
  background: rgb(37 37 37) !important;
  box-shadow: 1px 1px 8px rgb(58 58 58);
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav {
  margin-left: 150px;
}

.navbar-nav {
  margin-left: 150px;
}

.navbar-nav a {
  margin-left: 40px;
}

.nav-link {
  transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #cb7152;
}

/** parallax section **/
.react-parallax {
  height: 100vh;
}

/** menu **/
@keyframes imgzoom {
  from {
    width: 100%;
  }
  to {
    width: 110%;
  }
}

.img-area {
  width: 100%;
  height: 204px;
  overflow: hidden;
}

.menu-item {
  border: solid 1px #ededed;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.menu-item:hover {
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  width: 100%;
  transition: transform 1s;
}

.menu-item img:hover {
  transform: scale(1.2);
}

#menu-text span {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

#menu-text span:hover {
  color: #cb7152;
}

.card {
  background-color: blue !important;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: white;
}

.tags {
  position: absolute;
  top: 5px;
  left: 0;
}
.tags > span {
  display: inline-block;
  padding: 4px;
  margin-left: 3px;
  font-size: 14px;
  background: gray;
  min-width: 40px;
}

/** contact section **/
#contact-form {
  background: #fff;
  padding: 20px;
  margin-top: 7%;
}

/** footer **/
footer {
  padding: 10px;
  background: rgb(37 37 37);
  color: #fff;
}

/** media query **/

/** medium - xl screen **/
@media (min-width: 768px) and (max-width: 1200px) {
  .img-area {
    height: 152px;
  }
}

/** small screen **/
@media (max-width: 768px) {
  .navbar {
    background: rgb(1 1 1 / 74%);
  }
  .navbar-nav {
    margin-left: 0px;
  }
  .navbar-nav a {
    margin-left: 0px;
  }

  .container-small {
    width: 100%;
  }

  .img-area {
    height: 170px;
  }

  #contact-form {
    margin-top: 20%;
  }
}

/** x-small screen **/
@media (max-width: 576px) {
  .img-area {
    height: auto;
  }
}
